#!/bin/bash

# example debug launch, use ports > 1024 to avoid superuser requirement

# activate virtualenv environment
if [ -e bin/activate ]; then
  source bin/activate
else
  echo "virtualenv not detected. we recommend virtualenv!" >&2
fi 

export PORT=2222
export PROCLITE_PORT=4000
export API_SERVER_BASE_URL=http://localhost:5000
export API_SERVER_KEY=aaa-bbb-ccc-ddd-eee
export PRIVATE_KEY=certs/server.key
export PUBLIC_KEY=certs/server.key.pub

exec gitmouth/bin/gitmouth
